// COLORES -> Paleta de coloridas definida en https://coolors.co/ 
$primary-c: undefined;
$secondary-c: undefined;
$bg-c: undefined;
$border-c: undefined;
$text-c: undefined;
$text-button-c: undefined;

// FONT STYLES
$font-header: normal normal 800 4rem 'Monserrat', sans-serif;
$font-anchor: normal normal 400 1rem 'Monserrat', sans-serif;
$font-title: normal  normal 600 2.5rem 'Monserrat', sans-serif;

$font-form-label: normal normal 600 1rem 'Monserrat', sans-serif;
$font-form-required: italic small-caps 300 0.8rem 'Monserrat', sans-serif;

$font-subtitle-main: normal normal 600 2rem 'Monserrat', sans-serif;
$font-content-main: normal normal 400 1rem 'Monserrat', sans-serif;
$font-subtitle-oradores: normal normal 600 1.7rem 'Monserrat', sans-serif;
$font-info-oradores: normal normal 400 1.4rem 'Monserrat', sans-serif ;

$font-subtitle-footer: normal normal 600 2rem 'Monserrat', sans-serif;
$font-content-footer: italic small-caps 300 1rem 'Monserrat', sans-serif;

// BORDERS

